@model Cimob.Models.Candidatura.Concurso

@inject SignInManager<Cimob.Models.Utilizadores.ApplicationUser> SignInManager
@inject UserManager<Cimob.Models.Utilizadores.ApplicationUser> UserManager


<div class="DefaultPresentation">
    <div class="vertical-menu">
        <a href="#" class="active">Concurso</a>
        <a class="SubMenuSelected" asp-area="" asp-controller="Concursoes" asp-action="consultarDetalhe" asp-route-id=@ViewBag.ConcursoId>Detalhe Concurso</a>
     
        @if (SignInManager.IsSignedIn(User) && ViewBag.Valido && User.Identity.Name != "Cimob_esw@outlook.pt")
    {
        <a class="SubMenu" asp-area="" asp-controller="Candidaturas" asp-action="Create" asp-route-id=@Model.ConcursoId>Candidatar</a>
}
else
{
    <a class="SubMenu" style="background-color: rgb(166, 166, 166);cursor: default;">Candidatar</a>
}
        <a class="SubMenu" asp-area="" asp-controller="AjudaAutenticacaos" asp-action="Index" asp-route-id="2">Ajuda</a>
    </div>

    <div class="descriptionText">
        <div style="width:88.5%;margin-left: 1%;">
            <div style="margin-left: 10%;">
                <div style="background-color: white;">
                    <img style="width:200px;margin-left: 36%;" src="@Url.Content(ViewBag.Imagem)" alt="Visual Studio">
                </div>
            </div>
            <div style="margin-left: 10%; display:table">
                <div class="descriptionTextBoxOut">
                    <div style="margin-left: -67%;margin-top: -7%;font-size: 19px;">@Html.DisplayFor(model => model.Nome)</div>
                    <div class="descriptionTextBoxIn" style="height: 210px;margin-top: 44px;">
                        <div>
                            <label style="text-align: justify;"> @Html.DisplayFor(model => model.Descricao)</label>

                            <label style="float:left"> Prazo para candidaturas:</label><br />
                            <label style="float:left"> @ViewBag.Data</label>
                        </div>
                        <div style="margin-top: 6%;margin-left: 80%;">
                            <a asp-action="Index">Voltar à Lista</a>
                        </div>
                        <div style="margin-top: -2%;margin-left: -55%;color: red;">
                            @ViewBag.Aviso
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

