@model Cimob.Models.Candidatura.Concurso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Concurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaisId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaisId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoDeUtilizadorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoDeUtilizadorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Escola)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escola.EscolaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Regulamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regulamento.RegulamentoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConcursoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
