@model IEnumerable<Cimob.Models.Candidatura.Concurso_Escola_Tipo>
@inject SignInManager<ApplicationUser> SignInManager
<h2>Informações sobre candidaturas abertas</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Tipo de Utilizador
            </th>
            <th>
                Escola
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.concurso.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.concurso.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDeUser.nomeTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.escola.Nome)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                       {
                       @if (ViewBag.Tipo == item.TipoDeUser.TipoDeUserId)
                       {             
                        <a asp-area="" asp-route-id="@item.concurso.ConcursoId" asp-controller="Candidaturas" asp-action="Create">Candidatar</a>
                        }
                       }

                </td>
            </tr>
        }
    </tbody>
</table>
