@model IEnumerable<Cimob.Models.Candidatura.Concurso>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PaisId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDeUtilizadorId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Escola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regulamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaisId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeUtilizadorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escola.EscolaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regulamento.RegulamentoId)
            </td>
            <td>
                <a asp-area="" asp-controller="Candidaturas" asp-action="Create">Candidatar</a>
            </td>
        </tr>
}
    </tbody>
</table>
