@model Cimob.Models.Utilizadores.ApplicationUser
<div class="DefaultPresentation">
    <div class="vertical-menu">
        <a href="#" class="active">Gestão de conta</a>
        <a class="SubMenuSelected" asp-area="" asp-controller="Manage" asp-action="ConsultarDados">Consultar Dados</a>
        <a class="SubMenu" asp-area="" asp-controller="Manage" asp-action="AlterarDados">Alterar Dados</a>
        <a class="SubMenu" asp-area="" asp-controller="Manage" asp-action="ChangePassword">Alterar Password</a>
        <a class="SubMenu" asp-area="" asp-controller="Manage" asp-action="VerCandidaturasPendentes">Ver Candidaturas Pendentes</a>
    </div>
    <div class="descriptionText">
        <h1>Gestão de Conta</h1>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nome
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Escola
            </dt>
            <dd>
                @ViewBag.NomeEscola
            </dd>
            <dt>
                Pais
            </dt>
            <dd>
                @ViewBag.NomePais
            </dd>
            <dt>
                Tipo de Utilizador
            </dt>
            <dd>
                @ViewBag.NomeTipo
            </dd>
        </dl>
    </div>
</div>
