@model Cimob.Models.Candidatura.Candidatura_Estado
<h2>Alterar Estado da Candidatura</h2>
<div class="DefaultPresentation">
    <div class="vertical-menu">
        <a href="#" class="active">Candidatura</a>
        <a class="SubMenu" asp-area="" asp-controller="Candidaturas" asp-action="Detalhe" asp-route-id="@ViewBag.CandidaturaId">Detalhe</a>
        <a class="SubMenuSelected" asp-area="" asp-controller="Candidaturas" asp-action="AlterarEstado">Alterar Estado</a>
        <a class="SubMenu" asp-area="" asp-controller="Home" asp-action="Team">Ajuda</a>
    </div>


    <div class="row" style="margin-left: 10%;">

        <hr />
        @if (@ViewBag.Estado == "Aceite")
    {
        <label> Está prestes a aceitar a candidatura. Deseja Continuar?</label>
        <div style="margin-left: 10%;display:table">
            <a asp-action="Detalhe"  class="btn btn-default" style="display:table-cell" asp-route-id="@Model.CandidaturaId">Não</a>
            <form asp-route-returnUrl=null style="display:table-cell" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" hidden>
                    <input asp-for="EstadoCandidaturaId" class="form-control" value=@ViewBag.EstadoCandidaturaId />
                </div>
                <div class="form-group" hidden>
                    <input asp-for="CandidaturaId" class="form-control" value=@ViewBag.CandidaturaId />
                </div>
                <button type="submit" class="btn btn-default">Sim</button>
            </form>



        </div>

} @if (@ViewBag.Estado == "Rejeitado")
    {
        <label> Está prestes a rejeitar a candidatura. Deseja Continuar?</label>
        <div style="margin-left: 10%;display:table">
            <button asp-action="Detalhe" class="btn btn-default" style="display:table-cell" asp-route-id="@Model.CandidaturaId">Não</button>

            <form asp-route-returnUrl=null style="display:table-cell" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" hidden>
                    <input asp-for="EstadoCandidaturaId" class="form-control" value=@ViewBag.EstadoCandidaturaId />
                </div>
                <div class="form-group" hidden>
                    <input asp-for="CandidaturaId" class="form-control" value=@ViewBag.CandidaturaId />
                </div>

                <button type="submit" class="btn btn-default">Sim</button>
            </form>



        </div>

}
    </div>
  
</div>