@model IEnumerable<Cimob.Models.Candidatura.Candidatura>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCandidatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCandidatura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCandidatura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concurso.ConcursoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoCandidatura.EstadoCandidaturaId)
                </td>
                <td>
                   <a asp-area="" asp-controller="Candidaturas" asp-action="Create">Candidatar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
